<div class="container">
  <div class="floating-emojis">
    <span *ngFor="let emoji of floatingEmojis" class="emoji">{{ emoji }}</span>
  </div>
  <h2>{{titleOfLetter}}</h2>
  <h6>From {{from}} to {{to}}</h6>
  <br>
  <h3>
    {{letter}} 
    <br *ngIf="letter !== ''">
    {{letter2}}
    <br *ngIf="letter2 !== ''">
    {{question}}
  </h3>
  <button 
    class="btn btn-success"
    (click)="onYesClick()">
    {{yesMsg}}
  </button>
  <br>
  <div class="mini-container" #miniContainer>
  <button 
    *ngFor="let button of yesButtons"
    class="btn btn-success yes-button"
    [style.top]="button.top"
    [style.right]="button.left" 
    (click)="onYesClick()">
    {{yesMsg}}
  </button>
  <button *ngIf="version==1"
    class="btn btn-warning" 
    (click)="onMaybeLaterClick()">
   {{noMsg}}
  </button>
  <button *ngIf="version==2"
    class="btn btn-move" 
    (click)="onMaybeLaterHover()"
    (mouseover)="onMaybeLaterHover()"
    (mousemove)="onMaybeLaterHover()"
    (mouseenter)="onMaybeLaterHover()">
    {{noMsg}}
  </button>
  </div>
</div>